<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download.wetransfer.com//us2/a0961c9a9363002484a57ffdce5f513020190728153820/acf5c4cf199aae04fcc5c1a689e35cc4c234cd53/Phoenix5.ipa?cf=y&amp;token=eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTc0Mzg0NTAsInVuaXF1ZSI6ImEwOTYxYzlhOTM2MzAwMjQ4NGE1N2ZmZGNlNWY1MTMwMjAxOTA3MjgxNTM4MjAiLCJmaWxlbmFtZSI6IlBob2VuaXg1LmlwYSIsImhvdCI6ZmFsc2UsIndheWJpbGxfdXJsIjoiaHR0cDovL3Byb2R1Y3Rpb24uYmFja2VuZC5zZXJ2aWNlLnVzLWVhc3QtMS53dDo5MjkyL3dheWJpbGwvdjEvc2Fya2FyLzMyMWI3NzM4Y2RjYTFiZTNkYzJkYzdmYmJkYjdiYjM0NmVmODYwMzQxZjcyNWNjYmRhMTk5MDA1YjQ3MWM5Y2U3MTJmZWUxYjRmMjM5NjVlNmU2NTFmIiwiZmluZ2VycHJpbnQiOiJhY2Y1YzRjZjE5OWFhZTA0ZmNjNWMxYTY4OWUzNWNjNGMyMzRjZDUzIiwiY2FsbGJhY2siOiJ7XCJmb3JtZGF0YVwiOntcImFjdGlvblwiOlwiaHR0cDovL3Byb2R1Y3Rpb24uZnJvbnRlbmQuc2VydmljZS5ldS13ZXN0LTEud3Q6MzAwMC93ZWJob29rcy9iYWNrZW5kXCJ9LFwiZm9ybVwiOntcInRyYW5zZmVyX2lkXCI6XCJhMDk2MWM5YTkzNjMwMDI0ODRhNTdmZmRjZTVmNTEzMDIwMTkwNzI4MTUzODIwXCIsXCJkb3dubG9hZF9pZFwiOjk5ODY5ODI0Mjd9fSJ9.-7qlnqy-zoqnAiU2Cz5LqvoG6T2cadjoMeNixpENiKQ</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/RashidFarhad/unc0ver/blob/master/IMG_0063.JPG?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/RashidFarhad/unc0ver/blob/master/IMG_0063.JPG?raw=true</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>supplies.wall.phoenix</string>
				<key>bundle-version</key>
				<string>5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡Phoenix⚡

🔥JailBreak🔥
 
AwatCrack Store📦

TeleGram : @awatcrack 💚
SnapChat : @awatcrack 💙
Instagram : @awatcrack ❤️</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
